// Colors!!!
$primary-white: #ffffff;
$secondary-white: #e9e8e6;
$primary-grey: #6e7d83;
$primary-black: #344452;
$primary-green: #84894a;
$primary-brown: #503b31;
$secondary-brown: #c69f89;
$primary-blue: #8fa0b2;
$secondary-blue: #7e9291;
$primary-red: #f87575;

.heading-primary {
  font-size: 3.2rem;
  color: $primary-grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Exo 2", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  background-color: $primary-grey;
  height: 10%;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 4.8rem;
    margin: 1rem;
    color: $primary-white;
  }

  &__options {
    margin: 1rem;

    & .link {
      text-decoration: none;
      color: $secondary-white;
      font-size: 2.4rem;
      background-image: linear-gradient(
        to right,
        $primary-black,
        $primary-black 50%,
        $primary-white 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 0;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.4s;
    }

    & .link:hover {
      background-position: 0;
    }
  }
}

.main {
  display: flex;
  height: 90%;
  background-color: $secondary-white;
}

.meals {
  display: flex;
  width: 80%;
  height: 80%;
  margin: 0 auto;

  border: 1px solid $primary-grey;

  &__all {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    gap: 2.4rem;

    border: 1px solid $primary-grey;

    &--header {
      &,
      .heading-primary {
        color: $primary-black;
      }
    }
  }
}
